@{
    ViewData["Title"] = "Forums";
}

<h2>Forums</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>
                </td>
            </tr>
        
    </tbody>
</table>